{% extends 'account/base.html' %} 

{% load widget_tweaks static %} 

{% block content %}
	<div class="text-center mt-5">
		<img src="{% static 'logo.png' %}" class='p-0 img-fluid mb-3' width=350>
	</div>
	<div class="col-md-6 offset-md-3">

		<form method="POST" action="{% url 'account_login' %}">
			{% csrf_token %}

			<div class="form-group">
				<label for="id_login" class="control-label text-muted"><strong>Usuario</strong></label>
				{% render_field form.login|add_class:'form-control' placeholder='Usuario' %}
			</div>
			<div class="form-group">
				<label for="id_password" class="control-label text-muted"><strong>Contraseña</strong></label>
				{% render_field form.password|add_class:'form-control' placeholder='Contraseña' %}
			</div>
			<div class="custom-control custom-checkbox mb-3">
				{% render_field form.remember|add_class:'custom-control-input' %}
				<label class="custom-control-label" for="id_remember">Recordar</label>
			</div>


			{% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			{% endif %}

			{% if form.errors %}
				{% for field in form %}
					{% for error in field.errors %}
						<div class="alert alert-danger">
							<span class="lead"><strong>Error.</strong> {{ error|escape }}</span>
						</div>
					{% endfor %}
				{% endfor %}

				{% for error in form.non_field_errors %}
					<div class="alert alert-danger">
						<span class="lead"><strong>Error.</strong> {{ error|escape }}</span>
					</div>
				{% endfor %}
			{% endif %}

			<button type="submit" class="btn w-100 btn-outline-success">Entrar</button>
		</form>
	</div>
{% endblock %}