{% extends 'base.html' %}

{% block content %}
<a class="a-clean" href="#clientes" name="clientes">
    <h1>
        Clientes
    </h1>
</a>
<p class="lead">Documentación referente a los clientes dentro del sistema (agregar, buscar, editar, eliminar). </p>
<hr>

<h5><a href="#agregar-clientes" class="a-clean" name="agregar-clientes">
    <strong>Agregar clientes</strong>
</a></h5>
<p>
    Para agregar clientes, es necesario ir a la barra de navegación (parte superior del sistema), hacer click en <em>Clientes</em>
    y después en <a href="/clientes/nuevo/"><em>Nuevo cliente</em></a>. Será redirigido a un formulario, el cual debe ser llenado con la 
    información del cliente. Algunos campos son opcionales, como el correo o teléfono, sin embargo, es importante que se introduzcan las
    coordenadas del cliente, su nombre y dirección. Una vez llenado el formulario, presione <em>Enviar</em>.
    Será redirigido al perfil del cliente creado, con un mensaje de éxito y con la posibilidad de agregar otro cliente. 
</p>

<h5><a href="#perfil-cliente" class="a-clean" name="perfil-cliente">
    <strong>Perfil del cliente</strong>
</a></h5>
<p>
    El perfil del cliente muestra información relevante sobre un cliente. Principalmente, habrá un mapa interactivo con su ubicación, 
    el nombre del cliente, dirección (calle, colonia, número, zona) y información de contacto (teléfono y correo). Si el usuario quiere, 
    podrá ver la ubicación del cliente a través del portal de Google Maps, en donde existen menos limitaciones. Además, se permite 
    modificar o borrar al cliente, a través de los botones que aparecen a lado de su nombre. El perfil de un cliente es accedido desde
    la sección <a href="/clientes/"><em>Buscar</em></a>. Allí habrá un ícono azul (usuario) en el apartado de acciones. 
</p>

<h5><a href="#buscar-clientes" class="a-clean" name="buscar-clientes">
    <strong>Buscar y filtrar clientes</strong>
</a></h5>
<p>
    Para buscar clientes dirígase a la sección de <a href="/clientes/"><em>Buscar</em></a>, la cual se accede a través de la barra de navegación
    (Clientes > Buscar) <strong class="text-muted">ó</strong> desde la <a href="/">página principal</a>. Aquí aparecerá una tabla con <strong class="text-muted">todos</strong> los clientes registrados. Aparecerán
    <strong class="text-muted">10</strong> clientes por página, y se muestra información importante de estos (nombre, dirección, contacto y acciones
    como editar y borrar. Para navegar entre páginas existe el menú paginador debajo de la tabla. Arriba estará el buscador, en donde se puede
    introducir un parámetro de busqueda,. Se puede buscar por el nombre, calle, colonia, C.P., zona, teléfeno o correo del cliente.
</p>

<h5><a href="#editar-cliente" class="a-clean" name="editar-cliente">
    <strong>Editar un cliente</strong>
</a></h5>
<p>
    Editar un cliente es accesible desde el perfil de este, o desde la sección <a href="/clientes/"><em>Buscar</em></a>. Se accede haciendo 
    cick en el icono verde (tablero con un lapiz). Esta parte del sistema es muy parecida a la de agregar un cliente, sólo que el formulario 
    estará llenado con la información actual de un cliente y podrá ser editada. Una vez editada dicha información, debe presionar el botón 
    <em>Guardar</em>. Cabe destacar que modificar un cliente no es algo que se pueda deshacer.
</p>

<h5><a href="#borrar-cliente" class="a-clean" name="borrar-cliente">
    <strong>Borrar un cliente</strong>
</a></h5>
<p>
    Al igual que la sección de editar, borrar un cliente se puede hacer desde el perfil de un cliente o desde la sección de buscar. Se hace
    clickeando el icono rojo (bote de basura). Al hacer click, se le preguntará al usuario si realmente quiere borrar a dicho cliente, ya que
    esta acción no se puede deshacer.
</p>

<h5><a href="#mapa-clientes" class="a-clean" name="mapa-clientes">
    <strong>Mapa de clientes</strong>
</a></h5>
<p>
    El <a href="/clientes/mapa/">mapa de clientes</a> es una ayuda visual para contemplar la distribución general de los clientes alrededor de la ciudad.
    Es un mapa estático (no interactivo) en donde cada punto representa la ubicación de un cliente. Debido a las limitaciones de Google Maps, sólo se
    muestran alrededor de 200 clientes.
</p>
<hr>

<a class="a-clean" href="#choferes" name="choferes">
    <h1>
        Choferes
    </h1>
</a>
<p class="lead">Documentación acerca de los choferes de La Casa del Térmico. </p>
<hr>

<h5><a href="#agregar-chofer" name="agregar-chofer" class="a-clean">
    <strong>Agregar un chofer</strong>
</a></h5>
<p>
    Para agregar un chofer, se debe ir a la barra de navegación, hacer click en <em>Choferes</em> y posteriormente en 
    <a href="/chofer/nuevo/"><em>Nuevo chofer</em></a>. Es un formulario con la información relevante del chofer (nombre, teléfono y correo).
    Se requiere que el teléfono y correo sean válidos. Una vez llenado el formulario, simplemente haga click en <em>Enviar</em>. Será
    redirigido a la página principal de los choferes.
</p>

<h5><a href="#ver-choferes" name="ver-choferes" class="a-clean">
    <strong>Ver choferes</strong>
</a></h5>
<p>
    En esta sección será capaz de ver los choferes existentes. Se accede desde la barra navegadora (Choferes > <a href="/choferes/"><em>Ver choferes</em></a>).
    Aquí se muestra cada chofer en forma de "carta" (cuadro), cada uno con su información relevante (nombre, teléfeno y correo). A la derecha del nombre 
    habrá un icono en forma de tuerca... si se le da click, los iconos de editar y borrar se harán visibles. Por último se pueden ver las entregas 
    que ha hecho cada chofer en forma de reportes, los cuales se discutirán más a fondo en un momento.
</p>

<h5><a href="#editar-y-borrar-choferes" name="editar-y-borrar-choferes" class="a-clean">
    <strong>Editar y borrar choferes</strong>
</a></h5>
<p>
    Estas dos acciones funcionan igual que con los clientes. Se acceden a través de <a href="/choferes/"><em>Choferes</em></a>. Al hacer click
    en el icono gris (tuerca) a lado del nombre del chofer, apareceran los iconos de editar y borrar. Recuerde que estas acciones no se pueden deshacer.
    Si se borra un chofer, también se borraran las entregas que este hizo.
</p>

<a class="a-clean" href="#rutas" name="rutas">
    <h1>
        Rutas
    </h1>
</a>
<p class="lead">Todo acerca del sistema de generación de rutas de entrega.</p>
<hr>

<h5><a href="#generar-ruta" name="generar-ruta" class="a-clean">
    <strong>Generar una ruta</strong>
</a></h5>
<p>
    El proceso de generar rutas se divide en 2 pasos. El primer paso es escoger los clientes a los que se les entregará la mercancia.
    Dirígase a la barra navegadora, en <em>Rutas</em> y después en <a href="/rutas/nueva/"><em>Generar ruta</em></a>. También puede acceder
    aquí desde la <a href="/">página principal</a>, en el apartado de rutas.
</p>

<h5><a href="#escoger-clientes-ruta" name="escoger-clientes-ruta" class="a-clean">
    <strong>Escoger clientes para una ruta</strong>
</a></h5>
<p>
    Inicialmente se mostrarán 5 campos de selección de clientes. En estos campos se pueden filtrar los clientes por nombre o dirección.
    Si se quiere agregar más de 5 clientes sólo basta con presionar el botón <em>Agregar otro</em>. Es posible escoger hasta 
    <strong class="text-muted">23</strong> clientes. Es necesario seleccionar mínimo 1 cliente, sin embargo, no sucede nada si los campos
    de selección se dejan vacíos. Ya que se escogieron los clientes deseados, presione el botón <em>Generar ruta</em>.
</p>

<h5><a href="#priorizar-optimizar-clientes-ruta" name="priorizar-optimizar-clientes-ruta" class="a-clean">
    <strong>Optimizar o priorizar clientes</strong>
</a></h5>
<p>
    Al escoger clientes estos se pueden priorizar haciendo uso de la casilla <em>Priorizar</em>. Si se prioriza un cliente, se le entregará
    en el orden que se introdujo. Por ejemplo, si al primer cliente que se escogió se le marcó la casilla <em>Priorizar</em>, se le entregará 
    a este primero sobre todos los demás, mientras que a los otros se les entregará de la manera más óptima. Si no se prioriza ningún cliente,
    la ruta optimizará para ahorrar tiempo y distancia y, por ende, recursos. 
</p>

<h5><a href="#resultado-ruta" name="resultado-ruta" class="a-clean">
    <strong>Resultado de ruta</strong>
</a></h5>
<p>
    Después de escoger los clientes, la ruta será calculada. Esto puede tomar unos momentos dependiendo de la complejidad de la
    ubicación de los clientes. Una vez generada la ruta, se mostrará un mapa interactivo con la ruta dibujada, el tiempo y distancia 
    total de esta, y a la derecha un menú con los clientes escogidos enlistados en orden de entrega. Si lo desea, puede ver el perfil 
    de los clientes al hacer click en su nombre. 
</p>

<h5><a href="#guardar-ruta" name="guardar-ruta" class="a-clean">
    <strong>Guardar ruta</strong>
</a></h5>
<p>
    Para guardar la ruta generada, se le debe asignar un chofer a esta. A la derecha aparecerá un menú con todos los choferes enlistados, y deberá
    elegir uno. Si quiere descartar la ruta, presione el botón <em>Generar otra ruta</em>, el cual le preguntará si realmente quiere descartarla,
    ya que deberá de comenzar el proceso desde cero. Para guardar la ruta basta con presionar el botón <em>Finalizar</em>. La ruta será enviada al 
    correo del chofer escogido. La ruta se guardará en la base de datos para consulta futura. Al presionar el botón, será redirigido a un apartado en donde podrá ver
    toda la información de la ruta <strong class="text-muted">dentro del sistema</strong>, es decir, en una página web. Sin embargo también podrá generar un PDF
    de la ruta.
</p>

<a class="a-clean" href="#reportes" name="reportes">
    <h1>
        Reportes
    </h1>
</a>
<p class="lead">Información de los reportes guardados y generados por el sistema.</p>
<hr>

<h5><a href="#buscar-reportes" name="buscar-reportes" class="a-clean">
    <strong>Buscar reportes</strong>
</a></h5>
<p>
    Los reportes no son nada mas que rutas que fueron asignadas a un chofer y guardadas. Estas se pueden buscar dentro del sistema
    desde el apartado de reportes, el cual se accede desde la <a href="/">página principal</a> o desde la barra navegadora (Rutas > <a href="/reportes/"><em>Ver reportes</em></a>).
    Aquí se muestra una tabla con los reportes guardados, un buscador y el menú de páginas (se muestran 10 reportes por páginas). La tabla incluye 
    el chofer de la ruta, el tiempo y distancia total de la ruta, la fecha de creación y dos botones: el de borrar la ruta (bote de basura rojo) y 
    ampliar la información del reporte (documento azul). Los reportes se pueden buscar por chofer, fecha (mes, día, año), distancia y duración.
</p>

<h5><a href="#ver-reporte" name="ver-reporte" class="a-clean">
    <strong>Ver un reporte</strong>
</a></h5>
<p>
    Para ver con más detalle un reporte, presione el icono de documento azul en la tabla de reportes. Se abrirá una página con el mapa de la ruta,
    el tiempo, distancia, clientes enlistados en orden de entrega y el chofer de la ruta. También podrá borrar el reporte y exportarlo a formato
    <strong class="text-muted">PDF</strong>.
</p>
<hr>
<p class="lead">Si aún tiene una duda, no dude en <a href="mailto:reffer7@hotmail.com">ponerse en contacto</a>.</p>
{% endblock %}