<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Static files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{% static 'custom.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    {% block css %}{% endblock %}

    <title>{{ title }}</title>
  </head>
  <body>
    {% if not 'login' in request.path %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-3 mb-5">
      <a class="navbar-brand mr-1" href="/">
        <img src="{% static 'brand.png' %}" width=30>        
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              👥 Clientes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/clientes/">🔍 Buscar</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/clientes/nuevo/">➕ Nuevo cliente</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              👨‍✈️ Choferes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/choferes/">🔍 Ver choferes</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/chofer/nuevo/">➕ Nuevo chofer</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              🗺️ Rutas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/rutas/nueva/">➕ Generar ruta</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/reportes/">📋 Ver reportes</a>
            </div>
          </li>
          <li class="nav-item">
            <a href="/clientes/mapa/" class="nav-link">📌 Mapa</a>
          </li>          
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/ayuda/" class="nav-link">Ayuda</a>
          </li>              <div class="dropdown-divider"></div>

          <li class="nav-item">
            <a href="/accounts/logout/" class="nav-link font-weight-bold">Salir</a>
          </li>          
        </ul>
      </div>
    </nav>
    {% endif %}
    <main class="container" role="main">
      {% block content %}

      {% endblock %}
    </main>

    <footer class="footer bg-dark">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <a href="/ayuda/" class="footer-link">Ayuda</a> •
            <a href="mailto:reffer7@hotmail.com" class="footer-link">Contacto</a> •
            <span>Hecho con ♥ por estudiantes de la Universidad de Sonora</span>
          </div>
        </div>
      </div>
    </footer>

    <!-- JS Scripts -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>