{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

<div class="row mb-3">
    <div class="col m-0">
        <h2 class="mb-0">
            👨‍✈️ Chofer
            <small class="text-muted">Nuevo</small>
        </h2>
    </div>
</div>
<div class="row">
    <form class="col" action="/chofer/nuevo/" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Nombre</span>
            </div>
            {{ form.nombre|add_class:"form-control" }}
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Teléfono</span>
                    </div>
                    {% render_field form.telefono|add_class:"form-control" %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Correo&nbsp;&nbsp;</span>
                    </div>
                    {% render_field form.correo|add_class:"form-control" %}
                </div>
            </div>
        </div>
         
        {{ form.non_field_errors }}
        <button type="submit" class="btn btn-outline-primary w-100">Enviar</button>
    </form> 
</div>

{% endblock %}