{% extends 'base.html' %} {% block css %}
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script> {% endblock %} {% block content %}
<div class="row mb-3">
    <div class="col m-0">
        <h2 class="mb-0">
            <a href="/clientes/" class="a-clean">Clientes</a>
            <small class="text-muted">Buscar</small>
        </h2>
    </div>
    <div class="col-sm-4 offset-sm-2">
        <form class="form-inline" action="/clientes/buscar_handler/" method="GET">
            <input class="form-control mr-2" type="search" placeholder="Buscar..." name="query">
            <button class="btn btn-outline-primary" type="submit">Buscar</button>
        </form>
    </div>
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Calle</th>
                <th scope="col">Calle</th>
                <th scope="col">CP</th>                                
                <th scope="col">Teléfono</th>
                <th scope="col">Correo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for c in clientes %}
            <tr>
                <th scope="row">{{ c.id }}</th>
                <td>{{ c.nombre|title|truncatechars:25 }}</td>
                <td>{{ c.calle|add:" "|add:c.numero_int|add:" "|add:c.numero_ext|title|truncatechars:30 }}</td>
                <td>{{ c.colonia|title }}</td>
                <td>{{ c.cp }}</td>
                <td>{{ c.telefono|truncatechars:10 }}</td>
                <td>{{ c.correo }}</td>
                <td>
                    <a href="/clientes/{{ c.id }}"><i class="far fa-user"></i></a>&emsp;
                    <a href="https://www.google.com/maps?q={{ c.lat }},{{ c.lng }}"><i class="far fa-map"></i></a>&emsp;
                    <a href="/clientes/editar/{{ c.id }}"><i class="fas fa-edit"></i></a>&emsp;
                    <a  href="#" data-toggle="modal" data-target="#modal_borrar_{{ c.id }}"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>

            <div class="modal fade" id="modal_borrar_{{ c.id }}" tabindex="-1" role="dialog" aria-labelledby="modal_borrar_{{ c.id }}Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title " id="modal_borrar_{{ c.id }}Label">Borrar cliente</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Se <strong class="text-danger">eliminará</strong> al cliente
                            <strong>{{ c.nombre|title }}</strong>.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                            <form action="/clientes/borrar/{{ c.id }}/" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger">Borrar</button>                
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </tbody>
    </table>
</div>

{% if paginator.num_pages > 1 %}

<div class="row">
    <div class="col-sm-6 offset-sm-4">
        <nav>
            <ul class="pagination">
                {% if clientes.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?p={{ clientes.previous_page_number }}">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Atrás</span>
                        </a>
                    </li>
                {% endif %}
                {% for i in page_range %}
                    {% if i == clientes.number %}
                        <li class="page-item active">
                            <a class="page-link" href="?p={{ i }}">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?p={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                    
                {% if clientes.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?p={{ clientes.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endif %}

{% endblock %}