{% extends "easy_pdf/base.html" %}

{% block extra_style %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style type="text/css">
        body {
            font-family: "Helvetica", "sans-serif";
            color: #333333;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="main">
            <h1>{{ duracion }}</h1>
            <b>{{ distancia }}</b>
            <b>{{ chofer }}</b>
            {% for c in clientes %}
                <p>{{ c.nombre }} {{ c.id }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}