{% extends 'base.html' %}

{% block content %}

<div class="row mb-3">
    <div class="col m-0">
        <h2 class="mb-0">
            <a href="/reportes/" class="a-clean">Reportes</a>
            <small class="text-muted">Buscar</small>
        </h2>
    </div>
</div>  
<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron text-center">
            <h1 class="display-4 ">📄</h1>
            <h2 class="display-4 ">Aún no hay reportes</h2>            
            <p class="lead">Para comenzar, <a href="/rutas/nueva/">crea una ruta</a> y después guarda el reporte.</p>
        </div>
    </div>
</div>
{% endblock %}
