{% extends 'base.html' %} {% block css %}
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script> {% endblock %} {% block content %}
<div class="row mb-3">
    <div class="col m-0">
        <h2 class="mb-0">
            🚘 Entregas
            <a href="#" class="a-clean"><small class="text-muted">{{ chofer.nombre|title }}</small></a>
        </h2>
    </div>
    <div class="col-sm-4 offset-sm-2">
        <form class="form-inline" action="/reportes/buscar_handler/" method="GET">
            <input class="form-control mr-2" type="search" placeholder="Buscar..." name="query">
            <button class="btn btn-outline-primary" type="submit">Buscar</button>
        </form>
    </div>
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Duración</th>
                <th scope="col">Distancia</th>
                <th scope="col">Fecha</th>                                
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for r in reportes %}
            <tr>
                <th scope="row">{{ r.id }}</th>
                <td>⏱️ {{ r.duracion }}</td>
                <td>🚘 {{ r.distancia }}</td>
                <td>📅 {{ r.fecha_str }}</td>
                <td>
                    <a href="/reportes/{{ r.id }}">🔍</a>&emsp;
                    <a  href="#" data-toggle="modal" data-target="#modal_borrar_{{ r.id }}">❌</a>
                </td>
            </tr>

            <div class="modal fade" id="modal_borrar_{{ r.id }}" tabindex="-1" role="dialog" aria-labelledby="modal_borrar_{{ c.id }}Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title " id="modal_borrar_{{ c.id }}Label">Borrar reporte</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Se <strong class="text-danger">eliminará</strong> el reporte
                            <strong>#{{ r.id }}</strong> del día <strong>{{ r.fecha_str }}</strong>.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                            <form action="/reportes/borrar/{{ r.id }}/" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger">Borrar</button>                
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </tbody>
    </table>
</div>

{% if paginator.num_pages > 1 %}

<div class="row">
    <div class="col-sm-6 offset-sm-4">
        <nav>
            <ul class="pagination">
                {% if reportes.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="/clientes/">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Atrás</span>
                        </a>
                    </li>                
                    <li class="page-item">
                        <a class="page-link" href="?p={{ reportes.previous_page_number }}">
                            <span aria-hidden="true">&lsaquo;</span>
                            <span class="sr-only">Atrás</span>
                        </a>
                    </li>
                {% endif %}
                {% for i in page_range %}
                    {% if i == reportes.number %}
                        <li class="page-item active">
                            <a class="page-link" href="?p={{ i }}">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?p={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                    
                {% if reporte.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?p={{ reportes.next_page_number }}">
                            <span aria-hidden="true">&rsaquo;</span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?p={{ paginator.num_pages }}">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endif %}

{% endblock %}